<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key ="FileWatchPath" value="/home/uba_xtl/"/>
    <add key="FilewatchFilter" value="*.zip"/>
    <add key="DataConnectionString" value="UseDevelopmentStorage=true;" />
    <add key ="ContainerName" value="ubadata"/>
    <add key="StorageConnectionString"  value="BlobEndpoint=https://ubastorage.blob.core.chinacloudapi.cn/;QueueEndpoint=https://ubastorage.queue.core.chinacloudapi.cn/;TableEndpoint=https://ubastorage.table.core.chinacloudapi.cn/;AccountName=ubastorage;AccountKey=WWkOYY4+sNF59D3duuIO6gR/MFF49hAlxWRjlttCU0lLzMZX2Rh1VAQm0idvoVNc5Ma2RTy25tKk7ytAXI4XUg==" />

  </appSettings>
</configuration>